.left-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  background-color: black;
  transition: .2s;
}

#app-main {
  transition: margin-left .2s;
}
