.app {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.app-left-nav {
  flex: 0 0 24em;
  transition: margin 0.3s ease;
  border-right: 1px solid;
  height: 100vh;
  background-color: #bbbbbb;
}

.app-body {
  width: 100%;
}

.app-body-top-nav {
  display: flex;
  flex-direction: row;
}
