<main class="app">
  <app-left-nav class="app-left-nav" [data]="leftNavData" [style.marginLeft]="showLeftNav ? '0' : '-24em'"></app-left-nav>
  <div class="app-body">
    <nav class="app-body-top-nav">
      <app-icon-bar style="flex-grow: 10">
        <app-icon-bar-button icon="fa fa-bars" (click)="toggleLeftNav()"></app-icon-bar-button>
      </app-icon-bar>
      <app-icon-bar [data]="iconBarData"></app-icon-bar>
    </nav>
    <div class="app-body-router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
