<div class="person-page">
  <mi-platform-module-page-header title="Persons"></mi-platform-module-page-header>
  <mi-platform-action-bar>
    <div content-left>
      <mi-platform-action-bar-button icon="fa fa-plus" title="Add Person" (click)="openAddPersonModal()"></mi-platform-action-bar-button>
    </div>
    <div content-right>
      <mi-platform-action-bar-button icon="fa fa-cog" (click)="openSettingModal()"></mi-platform-action-bar-button>
    </div>
  </mi-platform-action-bar>
  <mi-platform-modal [id]="ADD_PERSON_MODAL_ID" titleIcon="fa fa-user" title="Add Person">
    <div content-body>
      TBI: ADD PERSON MODAL BODY
    </div>
    <div content-footer>
      TBI: ADD PERSON MODAL FOOTER
    </div>
  </mi-platform-modal>
  <mi-platform-modal [id]="SETTING_MODAL_ID" titleIcon="fa fa-cog" title="SETTING">
    <div content-body>
      TBI: SETTING MODAL BODY
    </div>
    <div content-footer>
      TBI: SETTING MODAL FOOTER
    </div>
  </mi-platform-modal>
</div>
